



<div class="centered-content">
    <div class="task-manager-container">
        <!-- <div class="siderbar">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">

                <a class="Item-Lists" >
                    <p></p>
                </a>
            </div>
            <button class="button is-primary has-text-white">
        </div> -->

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <div class="task-elements" *ngFor="let task of task | async; let i = index">

                <p (click)="delTutorial(i)" class="task ">{{ task.name }}</p>
                
                
                <!-- <p class="task completed">This is something i have to do</p> -->
            </div>

            <div class="field is-grouped" style="margin-top: 30px;">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="add a new task"  #name>
                </p>
                <p class="control">
                  <a class="button is-primary"  (click)="addTutorial(name.value)">
                    Add
                  </a>
                </p>
              </div>

        </div>
   
    </div>
</div>



